@model IEnumerable<MvcAppMain.Models.CT_PhieuKhamBenh>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>THÔNG TIN KẾT QUẢ KHÁM BỆNH</h2>

<p>
    @Html.ActionLink("Thêm thông khám khác", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.Label("Số Phiếu Khám")
        </th>
        <th>
            @Html.Label("Cách Dùng")
        </th>
        <th>
            @Html.Label("Triệu Chứng")
        </th>
        <th>
            @Html.Label("Tên Thuốc")
        </th>
        <th>
            @Html.Label("Đơn Vị")
        </th>
        <th>
            @Html.Label("Số Lượng Thuốc Lấy")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_PhieuKham)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CachDung.TenCachDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhieuKhamBenh.TrieuChung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thuoc.TenThuoc)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.Thuoc.ID_DonVi)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongThuocLay)
        </td>
        <td>
            @Html.ActionLink("Chỉnh sửa thông tin", "Edit", new { id = Convert.ToInt32(Session["ID_PhieuKham"]) }) |
            @*@Html.ActionLink("Create", "Create", new { id = Convert.ToInt32(Session["ID_PhieuKham"]) }) |*@
            @Html.ActionLink("Xem thông tin chi tiết", "Details", new { id = Convert.ToInt32(Session["ID_PhieuKham"]) }) |
            @Html.ActionLink("Xóa", "Delete", new { id = Convert.ToInt32(Session["ID_PhieuKham"]) })
        </td>
    </tr>

}

</table>
<a href="/HoaDon/Index">Xem hoa don</a >
