
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thay đổi quy định hệ thống</h2>

@Html.ActionLink("Thay đổi loại bệnh", "Benh")
<br />
@Html.ActionLink("Thay đổi thuốc hoặc đơn giá thuốc", "Thuoc")
<br />
@Html.ActionLink("Thay đổi đơn vị tính", "DonVi")
<br />
@Html.ActionLink("Thay đổi cách dùng", "CachDung")
<br />
@Html.ActionLink("Thay đổi tiền khám","HoaDon")